################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core UI and Layout/Microsoft.UI/ColorHelper/ColorHelper/.vs/ColorHelper
/Core UI and Layout/Microsoft.UI/ColorHelper/ColorHelper/ColorHelper/bin/x64/Debug/net8.0-windows10.0.19041.0/win-x64
/Core UI and Layout/Microsoft.UI/ColorHelper/ColorHelper/ColorHelper/obj
*.user
/Core UI and Layout/Microsoft.UI/ColorHelper/ColorHelper/ColorHelper/Properties/PublishProfiles
/Core UI and Layout/Microsoft.UI/ColorHelper/ColorHelper/.vs/ProjectEvaluation
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/.vs/ColorsDemo/CopilotIndices/17.13.433.20974
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/.vs/ColorsDemo/DesignTimeBuild
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/.vs/ColorsDemo/FileContentIndex
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/.vs/ColorsDemo/v17
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/ColorsDemo/bin/x64/Debug/net8.0-windows10.0.19041.0/win-x64
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/ColorsDemo/obj
/Core UI and Layout/Microsoft.UI/Colors/ColorsDemo/ColorsDemo/Properties/PublishProfiles
